* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0;
    text-decoration: none;
}

.navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}
.navi .logo1 {
    padding-left: 3vw;
    padding-top: 1vw;
    width: 30%;
}
.navi .menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 3vw;
    padding-top: 1vw;
    width: 40%;
}

.navi .menuButtons {
    padding-top: 1vw;
}

.navi .menu a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #555555;
}

.pinkA {
    color: #ff3998 !important;
}

.burger {
    display: none;
    cursor: pointer;
    padding-right: 3vw;
}
.burger .bar {
    display: block;
    background-color: #555555;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    border: 0px black solid;
    border-radius: 3px;
}

.content1 {
    margin: 7vh 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bigBold {
    padding: 2vh 0;
    font-weight: bolder;
    font-size: 5rem;
}

.texty {
    color: #555555;
    font-size: 1.75rem;
}

.blockWords {
    display: block;
    padding-left: 3vw;
    width: 700px;
    position: absolute;
    margin-right: 10vw;
}

.robo {
    overflow: hidden;
    justify-content: flex-end;
    position: relative;
    left: 55%;
}

.button {
    display: flex;
    font-size: 2rem;
    margin: 3.5vh 1.5vw;
    padding: 4px 4px;
    width: 15rem;
    height: 4.5rem;
    left: 20%;
    text-align: center;
    background-image: url("assets/background.svg");
    background-size: cover;
    border-radius: 70px;
}

.button a {
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 100%;
    height: 100%;
}

.button a:hover {
    background-color: dodgerblue;
}

.bird {
    background-image: url("assets/background.svg");
    background-size: cover;
    width: 95%;
    margin-left: 2.5%;
    height: 400px;
    border-radius: 30px;
}

.bird h1 {
    padding: 5px 40px;
    font-size: 40px;
    margin: 0;
}

.bird p {
    font-size: 25px;
    padding: 5px 40px;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.auction {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding-left: 30px;
}

#under {
    text-decoration: underline;
}

.auctionText {
    margin-left: 3vw;
}

.NFTs {
    width: 290px;
    background-color: rgb(214, 205, 205);
    border-radius: 30px;
    height: 400px;
}

.description {
    height: 120px;
    width: 250px;
    margin-left: 20px;
}

.description div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.series {
    color: orange;
    font-size: 0.65rem;
}

.texts {
    color: #555555;
    font-size: 0.8rem;
}

.priceText,
.name {
    font-size: 0.9rem;
}

.price {
    display: flex;
}

.price img {
    height: 15px;
}

.blank {
    height: 150px;
}

.content2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.greenW {
    overflow: hidden;
    justify-content: flex-end;
    position: relative;
    left: 70%;
    margin-top: 180px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blockWords1 {
    display: block;
    padding-left: 3vw;
    width: 700px;
    position: absolute;
    margin-right: 10vw;
}

footer {
    margin: 100px 3vw;
    display: flex;
}

.textb {
    font-size: 1.1rem;
    color: #555555;
}

.brand .logo2 img {
    width: 200px !important;
}

.brand img {
    width: 1.5rem;
    gap: 15px;
}

.textB {
    color: #555555;
    font-size: 1.5rem;
    font-weight: bold;
}

.textBox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50vw;
}

.lowerText {
    width: 300px;
    display: block;
}

.lowerText a {
    display: block;
    margin-top: 7px;
    text-decoration: none;
}

.legal {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: #555555;
}

@media only screen and (max-width: 768px) {
    .burger {
        display: block;
    }

    .menu {
        opacity: 0%;
    }

    .blockWords {
        width: 500px;
    }

    .blockWords1 {
        width: 500px;
    }

    .bird {
        width: 868px;
        margin: 0;
        border-radius: 0px;
    }

    .bird h1,
    .bird p {
        left: 300px;
    }

    .sponsors {
        flex-wrap: wrap;
    }

    .sponsors img {
        width: 40%;
    }

    .off {
        display: none;
    }

    .auction {
        gap: 50px;
        position: absolute;
    }

    .blank {
        height: 400px;
    }

    .greenW {
        margin-top: 320px;
    }

    footer {
        display: block;
    }

    .flexText {
        width: 50%;
    }

    .textBox {
        left: 0;
    }

    .soon {
        display: none;
    }
}
