@use "library.scss"
    with(
        $color: black,
        $border: 3px black dotted,
        $bg-color: white,
        $shadow: 2px 2px black,
        $fsize: 15px,
        $width: 40vw,
        $margin: 0 0
    );

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
        padding-left: 3vw;
        padding-top: 1vw;
        width: 30%;
    }

    .menu {
        display: flex;
        padding-right: 3vw;
        padding-top: 2vw;
        width: 30%;
        a {
            text-decoration: none;
            font-size: 1rem;
            color: #555555;
        }

        .pinkA {
            color: #ff3998;
        }
    }
}

.burger {
    display: none;
    cursor: pointer;

    .bar {
        background-color: #555555;
        width: 25px;
        height: 5px;
        margin: 5px auto;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 768px) {
    .burger {
        display: block;
    }
}
