$border: 3px black dotted !default;
$color: black !default;
$bg-color: white !default;
$shadow: 2px 2px black !default;
$fsize: 15px !default;
$width: 40vw !default;
$margin: 0 0 !default;

code {
    border: $border;
    color: $color;
    background-color: $bg-color;
    text-shadow: $shadow;
    font-size: $fsize;
    width: $width;
    margin: $margin;
}
